@model int?
@{
    ViewBag.Title = Model != null ? "Editar abastecimento" : "Novo abastecimento";
}

@section scripts {
    @Scripts.Render("~/bundles/api/abastecimentos")
    @Scripts.Render("~/bundles/api/combustiveis")
    @Scripts.Render("~/bundles/veiculo/componentes")
    @Scripts.Render("~/bundles/motorista/componentes")
    @Scripts.Render("~/bundles/abastecimento/editar")
}

<div ng-controller="EditarController" ng-init="carregar(@Model)">
    <form ng-submit="salvar()">
        <div class="form-group">
            <label>Veículo</label>
            <selecao-de-veiculo ng-model="abastecimento.idVeiculo" obrigatorio></selecao-de-veiculo>
        </div>
        <div class="form-group">
            <label>Motorista responsável</label>
            <selecao-de-motorista ng-model="abastecimento.idMotoristaResponsavel" obrigatorio></selecao-de-motorista>
        </div>
        <div class="form-group">
            <label>Data</label>
            <input type="date" class="form-control" ng-model="abastecimento.data" required />
        </div>
        <div class="form-group">
            <label>Tipo de combustível</label> <br />
            <div class="form-check form-check-inline" ng-repeat="e in Enum.tipoDeCombustivel.options">
                <input class="form-check-input" type="radio" id="tipoDeCombustivel_{{e.name}}" ng-model="abastecimento.tipoDeCombustivel" ng-value="e.value" />
                <label class="form-check-label" for="tipoDeCombustivel_{{e.name}}" ng-bind="e.display"></label>
            </div>
        </div>
        <div class="form-group">
            <label>Preço</label>
            <input type="number" class="form-control" ng-value="obterPrecoDoCombustivel() | number: 2" disabled />
        </div>
        <div class="form-group">
            <label>Quantidade</label>
            <input type="number" class="form-control" ng-model="abastecimento.quantidade" min="0.01" max="999" step="0.01" required />
        </div>
        <div class="form-group">
            <label>Custo</label>
            <input type="number" class="form-control" ng-value="calcularCusto() | number: 2" disabled />
        </div>

        <div class="mt-5">
            <button class="btn btn-primary">Salvar</button>
            <a class="btn btn-secondary" href="@Url.Action("Index")">Cancelar</a>
        </div>
    </form>
</div>